[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = http://github.com/tpope/vim-pathogen
[submodule "bundle/xmledit"]
	path = bundle/xmledit
	url = http://github.com/sukima/xmledit
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = http://github.com/ervandew/supertab
[submodule "bundle/snipMate"]
	path = bundle/snipMate
	url = https://github.com/msanders/snipmate.vim
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = https://github.com/chrismetcalf/vim-yankring.git
[submodule "bundle/VisIncr"]
	path = bundle/VisIncr
	url = https://github.com/vim-scripts/VisIncr.git
[submodule "bundle/cuteErrorMarker"]
	path = bundle/cuteErrorMarker
	url = https://github.com/Twinside/vim-cuteErrorMarker
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule "bundle/OmniCppComplete"]
	path = bundle/OmniCppComplete
	url = https://github.com/MasterKey/OmniCppComplete.git
[submodule "bundle/javacomplete"]
	path = bundle/javacomplete
	url = https://github.com/vim-scripts/javacomplete.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/NerdTree"]
	path = bundle/NerdTree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/mexpolk/vim-taglist.git
[submodule "bundle/IndexedSearch"]
	path = bundle/IndexedSearch
	url = https://github.com/henrik/vim-indexed-search.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = https://github.com/kevinw/pyflakes-vim.git
